body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #d8a256;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

  a:hover{
    color: white;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  p {
    margin: 0;
  }
  